<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Decline</h1>
        <button class="button button-clear button-primary" ng-click="jobDecModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <form name="jobDeclineForm" novalidate>
            <!-- <center>
                <label class="thickText assertive">Decline</label>
            </center> -->
            <label class="item item-input">
                <textarea placeholder="Provide Reason" rows="10" required></textarea>
            </label>
            <center class="padding">
                <button class="button button-calm semiWidth-btn" ng-disabled="jobDeclineForm.$invalid" ng-click="manageJob('Decline')">
                    Submit
                </button>
            </center>
        </form>
    </ion-content>
</ion-modal-view>
