<ion-view view-title="Status">
    <ion-nav-title>
        Status
    </ion-nav-title>
    <ion-content has-bouncing="false">
        <div class="logo-status">
        </div>
        <center>
            <h4>Current Status:</h4>
        </center>
        <div class="list">
            <center>
                <label class="item pendingJobs-listTitle" ng-class="{'available-listTitle':statusData.curWorkStatus=='Available',
                'notAvailable-listTitle':statusData.curWorkStatus=='Not Available',
                'accept-btn':statusData.curWorkStatus=='Working'}">{{statusData.curWorkStatus}}</label>
            </center>
            <div class="card padding" ng-show="statusData.showStatusChange">
                <center>
                    <p class="padding thickText" ng-show="{{statusData.curWorkStatus=='AVAILABLE'}}">You Have No Current Jobs</p>
                    <p class="padding">{{statusData.statusChangeText}}</p>
                    <button class="button button-calm semiWidth-btn" ng-click="availChaModal.show()">Change Status</button>
                </center>
            </div>
            <div class="card" ng-show="jobsData.showJobs">
                <div class="item item-text-wrap">
                    <label class="thickText">Client:</label>
                    <p>{{jobsData.clientName}}</p>
                    <label class="thickText">Project:</label>
                    <p>{{jobsData.projectName}}</p>
                    <label class="thickText">Project Address:
                        <button class="button button-calm button-clear icon ion-ios-location projectLocation-btn" ng-click="configureMapWithMarker()"></button>
                    </label>
                    <p>{{jobsData.projectAddress}}
                    </p>
                    <label class="thickText">Start date & Time:</label>
                    <p>{{jobsData.startDate |date:'dd/MM/yyyy HH:mma'}}</p>
                    <label class="thickText">Message:</label>
                    <p>{{jobsData.message}}</p>
                    <center>
                        <div class="row" ng-hide="jobsData.showFinishButton">
                            <div class="col col-50">
                                <button class="button semiWidth-btn decline-btn" ng-click="jobDecModal.show()">
                                    Decline
                                </button>
                            </div>
                            <div class="col col-50">
                                <button class="button semiWidth-btn accept-btn" ng-click="manageJob('Accept')">
                                    Accept
                                </button>
                            </div>
                        </div>
                        <button class="button button-calm semiWidth-btn" ng-show="jobsData.showFinishButton" ng-click="inducedModal.show()">FINISH JOB</button>
                    </center>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
