<ion-view view-title="Status">
    <ion-nav-title>
        Status
    </ion-nav-title>
    <ion-content>
        <div class="logo-status">
        </div>
        <center>
            <h4>Current Status:{{statusData.curWorkStatus}}</h4>
        </center>
        <div class="list">
            <center>
                <label class="item pendingJobs-listTitle">Pending Jobs</label>
            </center>
            <div class="card">
                <div class="item item-text-wrap">
                    <label class="thickText">Client:</label>
                    <p>First Client</p>
                    <label class="thickText">Project:</label>
                    <p>Dowells</p>
                    <label class="thickText">Project Address:</label>
                    <p>Dowells,NewDelhi</p>
                    <label class="thickText">Start date & Time:</label>
                    <p>01-07-2016 05:02:10</p>
                    <label class="thickText">Message:</label>
                    <p>Port Dowells from JQM to Ionic</p>
                    <center>
                        <div class="row">
                            <div class="col col-50">
                                <button class="button semiWidth-btn decline-btn">
                                    Decline
                                </button>
                            </div>
                            <div class="col col-50">
                                <button class="button semiWidth-btn accept-btn">
                                    Accept
                                </button>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
