<ion-view view-title="Leave">
    <ion-nav-title>
        Leave
    </ion-nav-title>
    <ion-content>
        <div class="logo-login login-bg" style="height:10vh;">
        </div>
        <center>
            <p>List of dates your status will change to 'Not Available' during this period.</p>
        </center>
        <div class="list">
            <a class="item item-text-wrap" href="">
                <label class="thickText">Daughter's birthday</label>
                <label class="thickText">From Date:</label>
                <p>21-05-2016</p>
                <label class="thickText">To Date:</label>
                <p>22-05-2016</p>
                <label class="thickText">Frequency:</label>
                <p>Only once</p>
            </a>
        </div>
    </ion-content>
</ion-view>
