<ion-view view-title="Settings">
    <ion-nav-title>
        Settings
    </ion-nav-title>
    <ion-content>
        <ion-toggle ng-model="settingsData.statusAlert" toggle-class="toggle-calm">Status Reminder</ion-toggle>
        <div class="card" ng-show="settingsData.statusAlert">
            <div class="list">
                <label class="item">Remind me to update my status:</label>
                <label class="item item-input">Time of Day
                    <input type="time" placeholder="Pick Time" ng-model="settingsData.alertTime">
                </label>
                <label class="item item-input item-select">Frequency
                    <select ng-model="settingsData.frequency">
                        <option value="">Please Select</option>
                        <option value="day">Daily</option>
                        <option value="week">Weekly</option>
                    </select>
                </label>
            </div>
            <button class="button button-calm ion-android-notifications icon-right" ng-click="">Save</button>
        </div>
    </ion-content>
</ion-view>
