<ion-view view-title="Login" name="login-view" hide-back-button="true" hide-nav-bar="true">
    <ion-content class="padding login-bg" scroll="false" has-bouncing="false">
        <div class="logo-login">
        </div>
        <form name="loginForm" novalidate>
            <div class="list list-inset">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email Address</span>
                    <input type="email" placeholder="Email Address" ng-model="loginData.username" name="username" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">PIN</span>
                    <input type="tel" placeholder="PIN" ng-model="loginData.password" name="password" required class="password-field" maxlength="4">
                </label>
            </div>
            <button class="button button-block button-positive icon-right ion-log-in" ng-click="login()" type="submit" ng-disabled="loginForm.$invalid">SIGN IN</button>
        </form>
        <a href="#/master/registration" class="button button-block button-positive ion-arrow-right-a icon-right">New Employee Registration</a>
    </ion-content>
</ion-view>
