<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Add/Edit Position</h1>
        <button class="button button-clear button-primary" ng-click="closeAddPosModal()">Cancel</button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <form name="regaddposform" novalidate>
            <center>
                <p id="addPositionPara">Add any positions you have held in past.</p>
            </center>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Select Position held
                    </div>
                    <select ng-model="regPosProps.regselectedpos" ng-change="fetchSelectedPositionDetail()">
                        <option value="0">Please Select</option>
                        <option ng-repeat="position in activePositions" value="{{position.ID}}">{{position.Name}}</option>
                    </select>
                </label>
                <div class="card" ng-show="!regPosProps.qualifiedAllowedOrNot">
                    <label class="item item-divider">
                        Certification Type
                    </label>
                    <ion-radio ng-model="regPosProps.regposexporqua" ng-value="'2'" class="radio-positive" value="2" name="exporqualified">Experienced</ion-radio>
                    <ion-radio ng-model="regPosProps.regposexporqua" ng-value="'1'" class="radio-positive" value="1" name="exporqualified">Qualified</ion-radio>
                </div>
                <!-- <label class="item" ng-show="regPosProps.onlyforexp">
                    Certification Type:{{regPosProps.traType}}
                </label> -->
                <label class="item item-input item-stacked-label" ng-show="regPosProps.onlyforexp" ng-class="{ 'has-errors' : regaddposform.regaddposno.$invalid && !regaddposform.regaddposno.$pristine, 'no-errors' : regaddposform.regaddposno.$valid}">
                    <span class="input-label">Qualification Number</span>
                    <input type="text" placeholder="Qualification Number" name="regaddposno" ng-model="regPosProps.regaddposno" ng-required="regPosProps.onlyforexp">
                </label>
                <label class="item item-input item-stacked-label" ng-show="regPosProps.showorhideexp" ng-class="{ 'has-errors' : regaddposform.regaddposexperience.$invalid && !regaddposform.regaddposexperience.$pristine, 'no-errors' : regaddposform.regaddposexperience.$valid}">
                    <span class="input-label">How much experience do you have in this trade? (example:1y 6m)</span>
                    <input type="text" placeholder="Experience" name="regaddposexperience" ng-model="regPosProps.regaddposexperience" required>
                </label>
            </div>
        </form>
        <center class="padding">
            <button class="button semiWidth-btn button-positive" ng-hide="regPosProps.hidesavebtn" ng-disabled="regaddposform.$invalid" ng-click="savePosition()">{{regPosProps.regPosAddBtnTxt}}</button>
        </center>
    </ion-content>
</ion-modal-view>
