<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Licences & Tickets</h1>
        <button class="button button-clear button-primary" ng-click="redAddLicModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <p id="addLicencePara">Add any licences or tickets you have.</p>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Licence/Ticket
                </div>
                <select ng-model="regselectedlic" ng-change="fetchSelectedLicenceDetail()">
                    <option value="0">Please Select</option>
                    <option ng-repeat="licence in activeLicences" value="{{licence.ID}}">{{licence.Name}}</option>
                </select>
            </label>
            <div class="card" ng-show="!qualifiedAllowedOrNot">
                <label>
                    Certification Type
                </label>
                <ion-radio ng-model="reglicexporqua" ng-value="'2'" class="radio-positive" value="2" ng-change="toggleExpFields()" name="exporqualified">Experienced</ion-radio>
                <ion-radio ng-model="reglicexporqua" ng-value="'1'" class="radio-positive" value="1" ng-change="toggleExpFields()" name="exporqualified">Qualified</ion-radio>
            </div>
            <label class="item" ng-show="onlyforexp">
                Licence Type:Experienced
            </label>
            <label class="item item-input item-stacked-label" ng-show="onlyforexp">
                <span class="input-label">Licence No.</span>
                <input type="text" placeholder="Licence Number">
            </label>
            <label class="item item-input item-stacked-label" ng-show="onlyforexp">
                <span class="input-label">Licence Expiry</span>
                <input type="date" placeholder="Licence Expiry">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">How much experience do you have?</span>
                <input type="text" placeholder="Licence Expiry">
            </label>
        </div>
        <button class="button button-block dowells-btn">Save</button>
    </ion-content>
</ion-modal-view>
