<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Trade Experience</h1>
        <button class="button button-clear button-primary" ng-click="closeAddTraModal()">Cancel</button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <form name="regaddtraform" novalidate>
            <center>
                <p id="addTradePara">Add any trade experience you have.</p>
            </center>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Trade Exp.
                    </div>
                    <select ng-model="regTraProps.regselectedtra" ng-change="fetchSelectedTradeDetail()">
                        <option value="0">Please Select</option>
                        <option ng-repeat="trade in activeTrades" value="{{trade.ID}}">{{trade.Name}}</option>
                    </select>
                </label>
                <div class="card" ng-show="!regTraProps.qualifiedAllowedOrNot">
                    <label class="item item-divider">
                        Certification Type
                    </label>
                    <ion-radio ng-model="regTraProps.regtraexporqua" ng-value="'2'" class="radio-positive" value="2" name="exporqualified">Experienced</ion-radio>
                    <ion-radio ng-model="regTraProps.regtraexporqua" ng-value="'1'" class="radio-positive" value="1" name="exporqualified">Qualified</ion-radio>
                </div>
                <!-- <label class="item" ng-show="regTraProps.onlyforexp">
                    Certification Type:{{regTraProps.traType}}
                </label> -->
                <label class="item item-input item-stacked-label" ng-show="regTraProps.onlyforexp" ng-class="{ 'has-errors' : regaddtraform.regaddtrano.$invalid && !regaddtraform.regaddtrano.$pristine, 'no-errors' : regaddtraform.regaddtrano.$valid}">
                    <span class="input-label">Qualification Number</span>
                    <input type="text" placeholder="Qualification Number" name="regaddtrano" ng-model="regTraProps.regaddtrano" ng-required="regTraProps.onlyforexp">
                </label>
                <label class="item item-input item-stacked-label" ng-show="regTraProps.showorhideexp" ng-class="{ 'has-errors' : regaddtraform.regaddtraexperience.$invalid && !regaddtraform.regaddtraexperience.$pristine, 'no-errors' : regaddtraform.regaddtraexperience.$valid}">
                    <span class="input-label">How much experience do you have in this trade? (example:1y 6m)</span>
                    <input type="text" placeholder="Experience" name="regaddtraexperience" ng-model="regTraProps.regaddtraexperience" required>
                </label>
            </div>
        </form>
        <center class="padding">
            <button class="button semiWidth-btn button-positive" ng-hide="regTraProps.hidesavebtn" ng-disabled="regaddtraform.$invalid" ng-click="saveTrade()">{{regTraProps.regTraAddBtnTxt}}</button>
        </center>
    </ion-content>
</ion-modal-view>
