<ion-view view-title="Licences & Tickets">
    <ion-nav-buttons side="right">        
        <button class="button pull-right button-icon button-clear ion-arrow-right-c" ng-click="changeToTraPage()"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <button class="button button-calm button-icon header-item addModal-btn" ng-click="regAddLicModal.show()">
            <i class="icon ion-plus calm"></i>
        </button>
        <center ng-if="licenceTicketList.length==0">
            <p class="thickText">Add Licence/Ticket</p>
        </center>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item-text-wrap" ng-repeat="ticket in licenceTicketList">
                <div class="row">
                    <div class="col">{{ticket.Name}}</div>
                </div>
                <div class="row" ng-show="ticket.isLicenced">
                    <div class="col">Licence Type</div>
                    <div class="col">{{ticket.LicenceType}}</div>
                </div>
                <div class="row" ng-show="ticket.isLicenced">
                    <div class="col">Licence No.</div>
                    <div class="col">{{ticket.LicenceNumber}}</div>
                </div>
                <div class="row" ng-show="ticket.isLicenced">
                    <div class="col">Expiry</div>
                    <div class="col">{{ticket.LicenceExpiry |date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="row">
                    <div class="col">Experience</div>
                    <div class="col">{{ticket.Experience}}</div>
                </div>
                <ion-option-button side="right" class="button-light icon ion-edit" ng-click="editLicence(ticket)"></ion-option-button>
                <ion-option-button side="left" class="button-assertive icon ion-trash-a" ng-click="removeLicence(ticket)"></ion-option-button>
            </ion-item>
        </ion-list>
        <!-- <center>
            <button class="button semiWidth-btn button-positive">Continue</button>
        </center> -->
    </ion-content>
    <!-- <ion-footer-bar class="bar-calm">
        <button class="button pull-right button-icon button-clear ion-arrow-right-c" ng-click="changeToTraPage()"></button>
    </ion-footer-bar> -->
</ion-view>
