<ion-view view-title="Licences & Tickets">
    <ion-nav-buttons side="right">
        <button class="button button-light button-icon header-item" style="color:#ffffff" ng-click="redAddLicModal.show()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <!-- <div class="card">
            <div class="item item-text-wrap">
                I love kittens!
                
            </div>
        </div> -->
        <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">Name</div>
                </div>
                <div class="row">
                    <div class="col">Licence Type</div>
                    <div class="col">Single</div>
                </div>
                <div class="row">
                    <div class="col">Licence No.</div>
                    <div class="col">12345</div>
                </div>
                <div class="row">
                    <div class="col">Expiry</div>
                    <div class="col">03-01-2017</div>
                </div>
                <div class="row">
                    <div class="col">Experience</div>
                    <div class="col">1y6m</div>
                </div>
                <ion-option-button side="right" class="button-light icon ion-edit"></ion-option-button>
                <ion-option-button side="left" class="button-assertive icon ion-trash-a"></ion-option-button>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">Name</div>
                </div>
                <div class="row">
                    <div class="col">Licence Type</div>
                    <div class="col">Single</div>
                </div>
                <div class="row">
                    <div class="col">Licence No.</div>
                    <div class="col">12345</div>
                </div>
                <div class="row">
                    <div class="col">Expiry</div>
                    <div class="col">03-01-2017</div>
                </div>
                <div class="row">
                    <div class="col">Experience</div>
                    <div class="col">1y6m</div>
                </div>
                <ion-option-button side="right" class="button-light icon ion-edit"></ion-option-button>
                <ion-option-button side="left" class="button-assertive icon ion-trash-a"></ion-option-button>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">Name</div>
                </div>
                <div class="row">
                    <div class="col">Licence Type</div>
                    <div class="col">Single</div>
                </div>
                <div class="row">
                    <div class="col">Licence No.</div>
                    <div class="col">12345</div>
                </div>
                <div class="row">
                    <div class="col">Expiry</div>
                    <div class="col">03-01-2017</div>
                </div>
                <div class="row">
                    <div class="col">Experience</div>
                    <div class="col">1y6m</div>
                </div>
                <ion-option-button side="right" class="button-light icon ion-edit"></ion-option-button>
                <ion-option-button side="left" class="button-assertive icon ion-trash-a"></ion-option-button>
            </ion-item>
        </ion-list>
        <center>
            <button class="button button-block button-positive">Continue</button>
        </center>
    </ion-content>
    <!-- <div class="continue-btn-div"> -->
    <!-- </div> -->
</ion-view>
