<ion-view view-title="Personal Details">
    <ion-content>
        <form name="updateForm" novalidate ng-model="updateForm">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Title
                    </div>
                    <select ng-model="uu.titleId" name="titleId" ng-change="changeSelectedItem(uu.titleId)" ng-options="title.id as title.text for title in titleList">
                        <!-- <option ng-value=1>Mr</option>
                        <option ng-value=2>Mrs</option>
                        <option ng-value=3>Miss</option>
                        <option ng-value=3>Ms</option> -->
                    </select>
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.FirstName.$invalid && !updateForm.FirstName.$pristine, 'no-errors' : updateForm.FirstName.$valid}">
                    <span class="input-label mandatory">First Name</span>
                    <input type="text" placeholder="First Name" name="FirstName" ng-model="uu.FirstName" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Middle Name</span>
                    <input type="text" name="MiddleName" placeholder="Middle Name" ng-model="uu.MiddleName">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.LastName.$invalid && !updateForm.LastName.$pristine, 'no-errors' : updateForm.LastName.$valid}">
                    <span class="input-label mandatory">Last Name</span>
                    <input type="text" name="LastName" placeholder="Last Name" ng-model="uu.LastName" required>
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.DateOfBirth.$invalid && !updateForm.DateOfBirth.$pristine, 'no-errors' : updateForm.DateOfBirth.$valid}">
                    <span class="input-label mandatory">DOB</span>
                    <input type="date" name="DateOfBirth" placeholder="DOB" ng-model="uu.DateOfBirth" required>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label mandatory">
                        Gender
                    </span>
                    <select ng-model="uu.GenderId" name="GenderId" ng-options="gender.id as gender.text for gender in genderList">                        
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Search Address</span>
                    <input type="text" placeholder="Search Address" id="keyword">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.StreetAddress.$invalid && !updateForm.StreetAddress.$pristine, 'no-errors' : updateForm.StreetAddress.$valid}">
                    <span class="input-label mandatory">Street Address</span>
                    <input type="text" name="StreetAddress" placeholder="Street Address" ng-model="uu.StreetAddress" required id="street_number">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.City.$invalid && !updateForm.City.$pristine, 'no-errors' : updateForm.City.$valid}">
                    <span class="input-label mandatory">City/Suburb/Town</span>
                    <input type="text" name="City" placeholder="City/Suburb/Town" ng-model="uu.City" required id="locality">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.State.$invalid && !updateForm.State.$pristine, 'no-errors' : updateForm.State.$valid}">
                    <span class="input-label mandatory">State</span>
                    <input type="text" name="State" placeholder="State" ng-model="uu.State" required id="administrative_area_level_1">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.Postcode.$invalid && !updateForm.Postcode.$pristine, 'no-errors' : updateForm.Postcode.$valid}">
                    <span class="input-label mandatory">Postcode</span>
                    <input type="text" name="Postcode" placeholder="Postcode" ng-model="uu.Postcode" required id="postal_code">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{'has-errors' : updateForm.ContactNumber.$invalid && !updateForm.ContactNumber.$pristine, 'no-errors' : updateForm.ContactNumber.$valid}">
                    <span class="input-label mandatory">Primary Contact No</span>
                    <input type="tel" name="ContactNumber " placeholder="Primary Contact No" ng-model="uu.ContactNumber " required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Secondary Contact No</span>
                    <input type="tel" name="SecondaryContact" placeholder="Secondary Contact No" ng-model="uu.SecondaryContact">
                </label>
                <ion-checkbox class="item-text-wrap" ng-hide="true" ng-model="uu.IsPaySlipSent">WOULD YOU LIKE PAYSLIPS SENT TO YOUR EMAIL?</ion-checkbox>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : updateForm.Password.$invalid && !updateForm.Password.$pristine, 'no-errors' : updateForm.Password.$valid}">
                    <span class="input-label mandatory">Pin No</span>
                    <input type="tel" name="Password" placeholder="Pin No" ng-model="uu.Password" required class="password-field" maxlength="4">
                </label>
                <label class="item item-input item-stacked-label " ng-class="{ 'has-errors' : updateForm.confirmpinno.$invalid && !updateForm.confirmpinno.$pristine, 'no-errors' : updateForm.confirmpinno.$valid}">
                    <span class="input-label mandatory">Confirm Pin No</span>
                    <input name="confirmpinno" type="tel" placeholder="Confirm Pin No" ng-model="uu.confirmpinno" required class="password-field" maxlength="4">
                </label>
            </div>
            <center>
                <button type="submit" class="button semiWidth-btn button-positive" ng-disabled="updateForm.$invalid" ng-click="updateUserProfile()">Update Profile</button>
            </center>
        </form>
    </ion-content>
</ion-view>
