<ion-view view-title="Personal Details">
    <ion-nav-title>Personal Details</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-edit calm" ng-click="changeToEditProPage()">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding" has-bouncing="false">
        <div class="list list-inset padding">
            <div class="item">
                <div class="ion-profile-picture" id="userProfilePicture" ng-click="showPicOptions()"></div>
            </div>
            <div class="item item-text-wrap">
                <label class="thickText">Employee Number</label>
                <p>{{fetchedUserInfo.EmployeeNumber}}</p>
            </div>
            <div class="item item-text-wrap">
                <label class="thickText">Full name</label>
                <p>{{fetchedUserInfo.Title}} {{fetchedUserInfo.DisplayName}}</p>
            </div>
            <div class="item item-text-wrap">
                <label class="thickText">DOB</label>
                <p>{{fetchedUserInfo.DOB | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="item item-text-wrap">
                <label class="thickText">Gender</label>
                <p>{{fetchedUserInfo.GenderName}}</p>
            </div>
            <!-- ToDo: Add Gender based salutaion to name -->
            <div class="item item-text-wrap">
                <label class="thickText">Primary Contact</label>
                <p>{{fetchedUserInfo.ContactNumber}}</p>
            </div>
             <div class="item item-text-wrap">
                <label class="thickText">Secondary Contact</label>
                <p>{{fetchedUserInfo.SecondaryContact}}</p>
            </div>
            <div class="item item-text-wrap">
                <label class="thickText">Address</label>
                <p>{{fetchedUserInfo.StreetAddress}}<br>{{fetchedUserInfo.City}}<br>{{fetchedUserInfo.State}}</p>
            </div>
            <div class="item item-text-wrap">
                <label class="thickText">Email Address</label>
                <p>{{fetchedUserInfo.Email}}</p>
            </div>
            <div class="item item-text-wrap" ng-hide="true">
                <label class="thickText">Electronic Payslips</label>
                <p>{{fetchedUserInfo.paySlipSent}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
