<ion-view view-title="My Profile">
    <ion-nav-title>My Profile</ion-nav-title>
    
    <ion-content scroll="false">
        <div class="list list-inset">
            <a href="#/home/personaldetails" class="item item-text-wrap item-icon-left">
                <i class="icon ion-person calm"></i> Personal Details
            </a>
            <a href="#/home/listofdocuments" class="item item-text-wrap item-icon-left">
                <i class="icon ion-document-text calm"></i> Licences & Experience
            </a>
        </div>
    </ion-content>
</ion-view>
