<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Trade Experience</h1>
        <button class="button button-clear button-primary" ng-click="closeAddTraModal()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <form name="proaddtraform" novalidate>
            <center>
                <p id="addTradePara">Add any trade experience you have.</p>
            </center>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Trade Exp.
                    </div>
                    <select ng-model="proTraProps.proselectedtra" ng-options="trade.ID as trade.Name for trade in activeTrades">
                        <!-- <option value="0">Please Select</option>
                        <option ng-repeat="trade in activeTrades" value="{{trade.ID}}">{{trade.Name}}</option> -->
                    </select>
                </label>
                <div class="card" ng-show="!proTraProps.qualifiedAllowedOrNot">
                    <label class="item item-divider">
                        Certification Type
                    </label>
                    <ion-radio ng-model="proTraProps.protraexporqua" ng-value="'2'" class="radio-positive" value="2" name="exporqualified">Experienced</ion-radio>
                    <ion-radio ng-model="proTraProps.protraexporqua" ng-value="'1'" class="radio-positive" value="1" name="exporqualified">Qualified</ion-radio>
                </div>
                <!-- <label class="item" ng-show="proTraProps.onlyforexptra">
                    Certification Type:{{proTraProps.traType}}
                </label> -->
                <label class="item item-input item-stacked-label" ng-show="proTraProps.onlyforexptra" ng-class="{ 'has-errors' : proaddtraform.proaddtrano.$invalid && !proaddtraform.proaddtrano.$pristine, 'no-errors' : proaddtraform.proaddtrano.$valid}">
                    <span class="input-label">Qualification Number</span>
                    <input type="text" placeholder="Qualification Number" name="proaddtrano" ng-model="proTraProps.proaddtrano" ng-required="proTraProps.onlyforexptra">
                </label>
                <label class="item item-input item-stacked-label" ng-show="proTraProps.showorhideexp" ng-class="{ 'has-errors' : proaddtraform.proaddtraexperience.$invalid && !proaddtraform.proaddtraexperience.$pristine, 'no-errors' : proaddtraform.proaddtraexperience.$valid}">
                    <span class="input-label">How much experience do you have in this trade? (example:1y 6m)</span>
                    <input type="text" placeholder="Experience" name="proaddtraexperience" ng-model="proTraProps.proaddtraexperience" required>
                </label>
            </div>
        </form>
        <center>
            <button class="button semiWidth-btn button-positive" ng-hide="proTraProps.hidesavebtn" ng-disabled="proaddtraform.$invalid" ng-click="saveTrade()">{{proTraProps.proTraAddBtnTxt}}</button>
        </center>
    </ion-content>
</ion-modal-view>
