<ion-view view-title="Leave">
    <ion-nav-title>
        Leave
    </ion-nav-title>
    <ion-content has-bouncing="false">
        <div class="logo-login login-bg" style="height:10vh;">
        </div>
        <center>
            <p>List of dates your status will change to 'Not Available' during this period.</p>
        </center>
        <div class="list">
            <a class="item item-text-wrap item-icon-right" href="">
                <div class="row"><label class="thickText">Daughter's birthday</label></div>
                <div class="row">
                    <div class="col">
                        <label class="thickText">From Date:</label>
                    </div>
                    <div class="col">
                        <p>21-05-2016</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="thickText">To Date:</label>
                    </div>
                    <div class="col">
                        <p>22-05-2016</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="thickText">Frequency:</label>
                    </div>
                    <div class="col">
                        <p>Only once</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-calm">
        <button class="button button-icon button-clear ion-android-calendar"></button>
        <button class="button button-icon button-clear ion-plus"></button>
    </ion-footer-bar>
</ion-view>
